#app {
  --el-fill-color-light: #f2f3f5;
}

#app,
body {
  .layui-layer-title {
    border: 0;
    height: auto;
    padding: 0;
    cursor: auto !important;
    color: var(--menu-acBg);
    line-height: normal;
    font-weight: 600;
    font-size: 14px;
  }
  .layui-layer-content {
    color: var(--menu-color);
    padding: 8px 0;
    font-size: 13px;
    .slot-fragment {
      height: 100%;
      width: 100%;
    }
  }
  .layui-layer-footer {
    .el-button {
      min-width: 108px;
      min-height: 28px;
      line-height: 28px;
      padding: 0;
    }
  }
  .layui-layer-border {
    border: 1px solid var(--menu-outBorder);
  }
  .layui-layer {
    padding: 8px;
    background-color: var(--menu-bg);
    animation: none;
    box-shadow: none;
    border-radius: 0;
  }

  .el-table,
  .el-table-v2 {
    --el-table-border-color: #e4e8ee;
    --el-table-row-hover-bg-color: #f2f3f5;
    --el-table-header-text-color: #323b4b;
    --el-table-text-color: gb(50, 59, 75);
    --el-table-header-bg-color: #f2f3f5;

    flex: 1;
    overflow: hidden;
    // 修复 safari 浏览器表格错位
    table {
      width: 100%;
    }

    // 解决表格数据为空时样式不居中问题[仅在element-plus中]
    .el-table__empty-block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .table-empty {
        line-height: 30px;
      }
    }

    .el-table__body-wrapper .el-table-column--selection .el-checkbox,
    .el-table__header-wrapper .el-table-column--selection .el-checkbox {
      --el-checkbox-input-width: 22px;
      --el-checkbox-input-height: 22px;
      height: 48px;
      .el-checkbox__inner:after {
        height: 11px;
        width: 6px;
        left: 7px;
        top: 2px;
      }
    }

    .el-radio {
      line-height: 48px;
    }

    .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
      top: calc(50% - 1px);
    }

    .el-table__header-wrapper,
    .el-table-v2__header-wrapper {
      border-radius: 8px 8px 0 0;
    }

    .el-table__cell {
      padding: 0;
    }

    .el-table__cell.el-table__expand-column .cell {
      line-height: 23px;
    }
    .cell {
      line-height: 48px;
    }

    .el-table__footer-wrapper tfoot td.el-table__cell {
      background-color: transparent;
    }
  }

  .el-dialog {
    --el-dialog-bg-color: var(--drop-menuItem-bg);
    color: var(--drop-menu-color);
    --el-dialog-padding-primary: 8px;
    --el-dialog-box-shadow: none;
    border: 1px solid var(--drop-menu-outBorder);
    .el-dialog__header {
      --el-dialog-padding-primary: 0;
    }
    .el-dialog__body {
      color: var(--drop-menu-color);
    }
  }

  .el-drawer {
    --el-drawer-padding-primary: 0;
    .el-drawer__header {
      --el-drawer-padding-primary: 0;
      border-bottom: 1px solid #e5e6e8;
      margin-bottom: 0;
    }
    .el-drawer__footer {
      padding-top: 0;
    }
  }

  .el-checkbox {
    --el-checkbox-input-width: 22px;
    --el-checkbox-input-height: 22px;
    .el-checkbox__inner:after {
      height: 11px;
      width: 6px;
      left: 7px;
      top: 2px;
    }
  }

  .el-input {
    --el-input-bg-color: var(--input-bg-color);
    --el-input-height: normal;
    --el-input-border-color: var(--input-border-color);
    --el-input-text-color: var(--input-text-color);
    // --el-input-inner-height: 22px;
    --el-input-focus-border-color: var(--input-border-color);
    height: auto;
    .el-input__wrapper {
      box-shadow: none;
      padding: 4px 11px;
      border: 1px solid var(--input-border-color);
      --el-input-border-radius: var(--input-border-radius);
    }
    .el-input__inner {
      font-weight: 600;
      &::placeholder {
        font-weight: normal;
      }
    }
    .el-input-group__append {
      border-radius: 0 6px 6px 0;
    }
  }

  .el-select {
    border: 1px solid var(--drop-menu-outBorder) !important;
    .el-select__wrapper {
      box-shadow: none;
      border-radius: var(--input-border-radius);
      background-color: var(--input-bg-color);
      min-height: auto;
      line-height: normal;
      .el-select__input {
        height: auto;
      }
      --el-select-height: normal;
      --el-select-border-color: var(--input-border-color);
      --el-select-text-color: var(--input-text-color);
      // --el-input-inner-height: 22px;
      --el-select-focus-border-color: var(--input-border-color);
      height: auto;
      &:hover {
        box-shadow: none;
      }
    }
    .el-select__suffix {
      .el-icon {
        transition: none !important;
        animation: none !important;
      }
    }
    .el-select__wrapper.is-focused {
      box-shadow: none;
    }
  }
  .el-select-dropdown {
    border: 1px solid var(--drop-menu-outBorder) !important;
    border-radius: var(--input-border-radius);
    .el-select-dropdown__wrap {
      .el-scrollbar__view {
        padding: 0;
        .el-select-dropdown__item {
          padding: 4px;
          line-height: normal;
          height: auto;
          &.is-hovering, &.is-selected {
            background-color: #3b5689;
            color: #fff;
            font-weight: normal;
          }
        }
      }
    }
  }

  .el-date-editor {
    --el-input-border-radius: 6px;
  }

  .el-form {
    .el-form-item {
      margin-bottom: 4px;
      .el-form-item__label {
        color: #4e5d78;
      }
    }
    .el-form-item__content {
      line-height: normal;
    }
  }

  .el-button {
    --el-border-radius-base: 0;
    --el-button-bg-color: #d4d4d4;
    --el-button-border-color: #737373;
    --el-button-text-color: #303030;
    padding: 4px;
    height: auto;
    cursor: auto;
    &:hover {
      --el-button-hover-bg-color: #e9e9e9;
      --el-button-hover-text-color: #303030;
      --el-button-hover-border-color: #737373;
    }
    &:active {
      --el-button-active-bg-color: #d4d4d4;
      --el-button-active-border-color: #737373;
      --el-button-active-text-color: #303030;
    }
    &.el-button--primary {
      --el-button-bg-color: var(--color-primary);
      --el-button-text-color: var(--color-white);
      --el-button-hover-text-color: var(--color-white);
      --el-button-hover-bg-color: var(--color-primary-hover);
      --el-button-active-text-color: var(--color-white);
      --el-button-active-bg-color: var(--color-primary-hover);
    }
    &.el-button--info {
      --el-button-bg-color: #e5e6eb;
      --el-button-text-color: #4e5d78;
      --el-button-border-color: #e5e6eb;
      --el-button-hover-bg-color: #e5e6eb;
      --el-button-hover-text-color: #4e5d78;
      --el-button-hover-border-color: #e5e6eb;
      --el-button-active-bg-color: #e5e6eb;
      --el-button-active-border-color: #e5e6eb;
    }
  }

  .el-message-box {
    --el-messagebox-padding-primary: 16px;
    --el-color-info: #323b4b;
    --el-messagebox-border-radius: 16px;
    .el-message-box__header.show-close {
      display: flex;
      padding-right: 0;
      justify-content: space-between;
      --el-color-primary: #323b4b;
    }
    .el-message-box__headerbtn {
      width: 28px;
      height: 28px;
      position: relative;
      margin-right: -8px;
      margin-top: -8px;
    }
  }

  .el-tree {
    width: 100%;
    --el-tree-node-hover-bg-color: transparent;
    --el-fill-color-blank: transparent;
    --el-tree-node-content-height: 22px;
    --el-tree-expand-icon-color: #303033;
    .el-tree-node:nth-child(odd) {
      background-color: #d4d4d4;
    }

    .el-tree-node:nth-child(even) {
      background-color: #dcdcdc;
    }
    .el-tree-node__children {
      transition: none;
    }

    .el-tree-node.is-current {
      color: #fff;
      > .el-tree-node__content {
        background-color: #3b5689;
        .el-tree-node__label {
          color: #fff;
        }
      }
    }

    .el-tree-node__label {
      display: inline-block;
      height: var(--el-tree-node-content-height);
      line-height: var(--el-tree-node-content-height);
      width: calc(100% - 24px);
      // border-radius: 6px;
      padding: 0 8px;
      color: #303033;
      font-weight: 500;
      // &:hover {
      //   background-color: rgba(0, 0, 0, 0.04);
      // }
    }

    .el-tree-node__expand-icon {
      transition: none;
    }
  }

  .el-descriptions {
    .el-descriptions__body {
      background-color: #f7f8fa;
      border-radius: 14px;
      padding: 16px 16px 4px 16px;
      .el-descriptions__label:not(.is-bordered-label) {
        color: #8a94a6;
        margin-right: 8px;
      }
      .el-descriptions__content:not(.is-bordered-label) {
        color: #4e5d78;
        font-weight: 500;
      }
    }
  }

  .el-tabs {
    --el-text-color-primary: #b0b7c3; // 未选中
    .el-tabs__item {
      padding: 0;
      min-width: 112px;
      min-height: 54px;
    }
    .el-tabs__nav-wrap::after {
      height: 1px;
      background-color: rgba(9, 48, 100, 0.08);
    }
  }

  .el-alert {
    &.el-alert--info {
      --el-alert-bg-color: #ebf2ff;
      --el-color-info: #4e5d78;
      border-radius: 16px;
      .el-icon {
        color: #1677ff;
      }
    }
  }

  .el-radio {
    --el-radio-input-height: 22px;
    --el-radio-input-width: 22px;
    display: inline-block;
    .el-radio__inner::after {
      height: 8px;
      width: 8px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .el-loading-mask {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .el-scrollbar {
    --el-scrollbar-bg-color: #c8c8c8;
    --el-scrollbar-hover-bg-color: #c8c8c8;
    --el-scrollbar-opacity: 1;
    --el-scrollbar-hover-opacity: 1;
    .el-scrollbar__bar {
      width: 8px;
      border: 1px solid #737373;

      .el-scrollbar__thumb {
        border-bottom: 1px solid #737373;
        border-top: 1px solid #737373;
        // margin-top: -1px;
        // padding-top: 1px;
      }
    }
    .el-scrollbar__bar.is-vertical {
      background-color: #eaeaea;
    }
  }
  .el-popper {
    background: var(--drop-menuItem-bg) !important;
    box-shadow: none !important;
    border-radius: var(--input-border-radius) !important;
    box-sizing: border-box !important;
    border: 0 !important;
    transition: none !important;
    animation: none !important;
  }

  .el-popover {
    width: auto !important;
    transition: none;
    animation: none;
    --el-popover-border-radius: 0;
    --el-popover-border-color: var(--drop-menu-outBorder);
    --el-popover-padding: 0;
    &.el-popper {
      background: var(--drop-menuItem-bg);

      // border: 1px solid var(--drop-menu-outBorder);
    }
  }

  .el-tag {
    animation: none;
    transition: none;
  }
}
